@import "spriting";
@import "assets";

// cat sprites
$cat-sprite-map: sprite-map('cat-sprite-map',
  sprite-layout(horizontal, (spacing: 5px, alignment: bottom)),
  'images/cats/*'
);

// @debug $cat-sprite-map;

// calling sprite-background generates the sprite map image
%cat-bg {
  @include sprite-background($cat-sprite-map);
}

@each $cat in sprite-list($cat-sprite-map) {
  // @debug sprite-identifier($cat-sprite-map, $cat);
  .cat-#{sprite-identifier($cat-sprite-map, $cat)} {
    @extend %cat-bg;
    @include sprite-position($cat-sprite-map, $cat);
    @include sprite-dimensions($cat-sprite-map, $cat);
  }
}


// metro-icon sprites
$metro-icon-sprite-map: sprite-map('metro-icon-sprite-map',
  sprite-layout(vertical, (spacing: 0, alignment: left)),
  'images/dakirby309.deviantart.com-metro-light-icons/*'
);

// @debug $metro-icon-sprite-map;

// calling sprite-background generates the sprite map image
%metro-icon-bg {
  @include sprite-background($metro-icon-sprite-map);
  height: 76px;
  width: 76px;
}

// broccoli-sass with node-sass 3.3.3 complains about a bad selector after ".3" on the following line
// (using build.js does the same, but you  must use node-sass 3.3, not 3.4)
@each $metro-icon in sprite-list($metro-icon-sprite-map) {

  // The error really happens here, though:
  .metro-icon-#{sprite-identifier($metro-icon-sprite-map, $metro-icon)} {
    @extend %metro-icon-bg;
    @include sprite-position($metro-icon-sprite-map, $metro-icon);
  }
}
